<h1>Best Tunisia Travel</h1> <input type="button"  class="btn btn-warning" (click)="onWhyUs()"value="Pourquoi nous ?"/>



<h2 style="text-align: center;">Nouvelle découverte - Nouvelle vie</h2>

<body>
    <div id="carouselExemple" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExemple" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExemple" data-slide-to="1"></li>
            <li data-target="#carouselExemple" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/tozeur.jpg"  class="d-block">
            </div>
            <div class="carousel-item " *ngFor="let t of lesexcursions">
                <img src="{{t.photo}}"
                    class="d-block">
            </div>
        </div>

        <a href="#carouselExemple" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="ture"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#carouselExemple" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
   <script>
        $('.carousel').carousel({

            pause: "null"

        })
    </script>

<!-- Partie Coup de coeur-->
<br/>
<br/>
<br>
<h2 style="text-align: center;">Coup de coeur</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4"  *ngFor="let t of lesexcursions" >
            <div *ngIf="t.coupDeCoeur" class="card text-center">
                <div class="card-header text-center">{{t.lib}}</div>
                <div class="card-body" >
                    <span *ngIf="t.nouv" class=" btn-success">Nouveau</span><br/>
                   
                    <img class="image" src="{{t.photo}}" style="height: 100%;width:100%;"><br/>
                    <span>La Durée : {{t.duree}}</span><br/>
                    <span *ngIf="t.promo" class=" btn-danger">En Promotion</span>
                    
                    <div>
                  
                  
                  
                        <div class="card-footer "   >
                        <a class="btn btn-primary" [routerLink]="['/liste', t.id]" >
                          <i class="fas fa-pencil-alt" ></i>Plus de Détails</a>
                    </div> 

    
</div>
</div>
</div>
</div>
    </div>
<!-- View More-->
<div style="text-align: center;">
    <button  class="btn btn-warning" (click)="onListe()">Accèder à la liste des excursions</button>
</div>
</div>


</body>
