
<div id="menu" style="height: 50px; ">
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="./accueil">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="./liste">Les excursions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="./whyus">A propos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="./contact">Contactez-nous</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="./admin">Administrateur</a>
  </li>
  </ul>
</div>

  
