<h1>Présentation</h1>
<p>Best Tunisia Travel est une agence qui organise des excursions
    à travers tout le pays. </p>
    
    <h1>Objectif</h1>
    <p>Notre but est de vous faire découvrir les richesses naturelles de ce pays dans un cadre sympathique et en toute sécurité.</p>
    <h1>Qui sommes-nous ?</h1>
    <div class="container">
<div class="card"style="text-align: center;">
    <div class="card-header">
Jed Grira 
    </div>
    <div class="card-body" >
        <img src="../../../assets/jed.jpg" width="300 px" height="450 px"  alt="Le génie">
    </div>
     <div class="card-footer"> Développeur</div>

</div>
</div>

